<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @note.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @note.user.email %>
</p>
<table>
<tr>
<td><%= button_to 'Edit', edit_note_path(@note), class:"btn btn-primary", method: :get %></td>
<td><%= button_to 'Back', notes_path, class:"btn btn-danger", method: :get %></td>
</tr>
</table>
